.answer {
  display: none;
}

.card {
  max-width: 20rem;
  min-width: 18rem;
  margin-bottom: 1rem !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border-color: #17a2b8;
  color: #17a2b8;
}

body {
  text-align: center;
}

.card-deck {
  justify-content: center;
}
